<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <style>
        .a {
            display: inline;
        }

        .b {
            text-align: center;
        }
    </style>
    <div class="a">
        <div id="d1">
            <h1>Dom_5 Page</h1>
            <ul id="list">
                <li>IU</li>
                <li>Suji</li>
            </ul>
            <ol id="list2">
                <li>First</li>
                <li>Second</li>
            </ol>
        </div>
    </div>
    <div id="d2">
        <h1>Append Test</h1>
    </div>
    <div id="d3">
        <h1>Before, After Test</h1>
    </div>
    <br>
    <div class="b">
        <button id="btn">Button</button>
        <button id="add">Add</button>
        <button id="add2">Add2</button>
        <button id="add3">Add3</button>
        <button id="add4">Add4</button>
        <button id="add5">Add5</button>
    </div>
</body>
<script src="/resources/js/dom_6.js"></script>

</html>