<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace의 값은 사용할 DAO의 풀 패키지명 -->
<mapper namespace="com.naver.start.bankMember.BankMembersDAO">
	<!-- id == DAO.method name -->
	<select id="getLogin" parameterType="com.naver.start.bankMember.BankMembersDTO"
		resultType="com.naver.start.bankMember.BankMembersDTO">

		select userid, name from bankmembers where userid = #{userid} and pwd = #{pwd}
	</select>

	<select id="getSearchByID" parameterType="com.naver.start.bankMember.BankMembersDTO"
		resultType="com.naver.start.bankMember.BankMembersDTO">
		
		select * from bankmembers where name like #{name} order by name desc
	</select>
</mapper>
