<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace의 값은 사용할 DAO의 풀 패키지명 -->
<mapper namespace="com.naver.start.bankMember.BankMembersDAO">
	<!-- id == DAO.method name -->
	<select id="getLogin" parameterType="BankMembersDTO" resultType="BankMembersDTO">

		select userid, name
		from bankmembers where userid = #{userid} and pwd = #{pwd}
	</select>

	<select id="getSearchByID" parameterType="String" resultType="BankMembersDTO">

		select * from bankmembers
		where name like #{name} order by name desc
	</select>

	<insert id="setJoin" parameterType="BankMembersDTO">
		INSERT INTO BANKMEMBERS VALUES(#{userid},#{pwd},#{name},#{email},#{phone})
	</insert>
	<!-- <select id="getMyPage" parameterType="BankMembersDTO" resultMap="getMyPageResult"> SELECT USERNAME, NAME, EMAIL, PHONE FROM BANKMEMBERS WHERE USERid = #{userID} </select> <resultMap type="BankMembersDTO" id="getMyPageResult"> <id column="userid" property="userid" /> <result column="name" property="name" 
		/> <result column="email" property="email" /> <result column="phone" property="phone" /> <collection property="bankAccountDTOs" javaType="List" ofType="BankAccountDTO"> <id column="accountnum" property="accountNum" /> <result column="accountdate" property="accountDate" /> <association property="bankBookDTO" 
		javaType="BankBookDTO"> <result column="bookname" property="bookName" /> </association> </collection> </resultMap> -->
	<select id="getMyPage" parameterType="BankMembersDTO" resultType="BankMembersDTO">
		SELECT USERid, NAME, EMAIL, PHONE FROM BANKMEMBERS WHERE USERid = #{userid}
	</select>
</mapper>
