<?xml version="1.0" encoding="UTF-8"?>
      <!DOCTYPE mapper
          PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
          "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.naver.start.bankAccount.BankAccountsDAO">

	<select id="getListByUserName" parameterType="BankMembersDTO" resultMap="getListByUserNameResult">
		select ba.accountNum, bb.bookName, ba.accountDate
		from bankaccount ba
		inner join
		bankbook bb
		on ba.bookNum = bb.bookNum
		where ba.userid = #{userid}
	</select>

	<resultMap type="BankAccountDTO" id="getListByUserNameResult">
		<id column="accountNum" property="accountNum" />
		<result column="accountDate" property="accountDate" />
		<association property="bankBookDTO" javaType="BankBookDTO">
			<result column="bookName" property="bookName" />
		</association>
	</resultMap>

</mapper>