<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 비어있으면 예외발생 -->
<mapper namespace="com.naver.start.bankBook.BankBookCommentDAO">
	<insert id="setCommentAdd" parameterType="BankBookCommentDTO">
		insert into bb_comment(num, booknum, writer, contents, regdate)
		values(board_seq.nextval, #{bookNum}, #{writer}, #{contents}, sysdate)
		<!-- booknum -> bankbookDTO에 있음 -->
	</insert>
</mapper>
