<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 비어있으면 예외발생 -->
<mapper namespace="com.naver.start.bankBook.BankBookCommentDAO">
	<insert id="setCommentAdd" parameterType="BankBookCommentDTO">
		insert into
		bb_comment(num, booknum, writer, contents, regdate)
		values(board_seq.nextval, #{BookNum}, #{writer}, #{contents}, sysdate)
	</insert>
	
	<select id="getCommentList" parameterType="CommentPager"
		resultType="BankBookCommentDTO">
		select * from
		(select rownum r, c.* from
		(select * from
		bb_comment
		where booknum = #{BookNum}
		order by num desc) c)
		where r between #{startRow}
		and #{lastRow}
	</select>
	
	<select id="getCommentListTotalCount"
		parameterType="CommentPager" resultType="Long">
		select count(num) from bb_comment where booknum = #{BookNum}
	</select>
	
	<delete id="setCommentDelete" parameterType="BankBookCommentDTO">
		delete bb_comment where num = #{num}
	</delete>
	
	<update id="setCommentUpdate" parameterType="BankBookCommentDTO">
	update bb_comment set contents = #{contents} where num = #{num}
	</update>
</mapper>
