<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 비어있으면 예외발생 -->
<mapper namespace="com.naver.start.board.notice.NoticeDAO">

	<insert id="setAddFile" parameterType="BoardFileDTO">
		insert int noticefile
		values(file_seq.nextval, #{num}, #{filename}, #{oriName})
	</insert>

	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from notice
		where
		<choose>
			<when test="kind == title">title</when>
			<when test="kind == contents">contents</when>
			<otherwise>contents</otherwise>
		</choose>
		like '%'||#{search}||'%'
	</select>

	<select id="getList" resultType="NoticeDTO" parameterType="Pager">
		<!-- select num, title, writer, regdate, hit from notice order by num desc -->
		select * from
		(select rownum r, n.* from
		(select * from notice
		where
		<choose>
			<when test="kind == 'title'">title</when>
			<when test="kind == 'writer'">writer</when>
			<otherwise>contents</otherwise>
		</choose>
		like '%'||#{search}||'%'

		order by num desc) n)
		where r between #{startRow} and #{lastRow}
	</select>

	<select id="getDetail" parameterType="BoardDTO" resultType="NoticeDTO">
		select * from notice where num = #{num}
	</select>

	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey order="BEFORE" keyProperty="num" resultType="Long">
			select board_seq.nextval from dual
		</selectKey>
		insert into notice values
		(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0)
	</insert>

	<update id="setUpdate" parameterType="BoardDTO">
		update notice set
		title = #{title}, contents = #{contents}
		where num = #{num}
	</update>

	<delete id="setDelete" parameterType="BoardDTO">
		delete notice where num = #{num}
	</delete>


</mapper>
