<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 비어있으면 예외발생 -->
<mapper namespace="com.naver.start.board.qna.QnaDAO">

	<select id="getList" resultType="QnaDTO">
		select num, title, regdate, hit from qna
		order by num desc
	</select>

	<select id="getDetail" parameterType="BoardDTO" resultType="QnaDTO">
		select * from qna where num = #{num}
	</select>

	<insert id="setAdd" parameterType="BoardDTO">
		insert into qna values
		(board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0, 0, 0, 0)
	</insert>

	<update id="setUpdate" parameterType="BoardDTO">
		update qna set
		title = #{title}, contents = #{contents}
		where num = #{num}
	</update>

	<delete id="setDelete" parameterType="BoardDTO">
		delete qna where num = #{num}
	</delete>

</mapper>
