<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace가 비어있으면 예외발생 -->
<mapper namespace="com.naver.start.board.qna.QnaDAO">

	<sql id="search">
		where
		<choose>
			<when test="kind == 'title'">title</when>
			<when test="kind == 'writer'">writer</when>
			<otherwise>contents</otherwise>
		</choose>
		like '%'||#{search}||'%'
	</sql>

	<insert id="setReplyAdd" parameterType="QnaDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			select board_seq.nextval from dual
		</selectKey>
		insert into qna(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, REF, STEP, DEPTH) values
		(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0, #{ref}, #{step}, #{depth}) <!-- hit, ref, step, depth -->

	</insert>

	<update id="setStepUpdate" parameterType="QnaDTO">
		update qna set step = step + 1 where ref = #{ref} and step > #{step}
	</update>


	<select id="getCount" resultType="Long" parameterType="Pager">
		select count(num) from qna
		<include refid="search"></include>
	</select>

	<select id="getList" resultType="QnaDTO">
		select * from
		(select rownum r, n.* from
		(select * from qna
		<include refid="search"></include>

		order by ref desc, step asc) n)
		where r between #{startRow} and #{lastRow}
	</select>

	<select id="getDetail" parameterType="BoardDTO" resultType="QnaDTO">
		select * from qna where num = #{num}
	</select>

	<insert id="setAdd" parameterType="BoardDTO">
		<selectKey keyProperty="num" order="BEFORE" resultType="Long">
			select board_seq.nextval from dual
		</selectKey>
		insert into qna (NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT, REF, STEP, DEPTH)
		values
		(#{num}, #{title}, #{contents}, #{writer}, sysdate, 0, #{num}, 0, 0) <!-- hit, ref, step, depth -->
	</insert>

	<update id="setUpdate" parameterType="BoardDTO">
		update qna set
		title = #{title}, contents = #{contents}
		where num = #{num}
	</update>

	<delete id="setDelete" parameterType="BoardDTO">
		delete qna where num = #{num}
	</delete>

</mapper>
